:root {
  /* CORES */
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  /*GRAYSCALE*/
  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

*{
  list-style: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  border: none;

  &:hover {
    background-color: var(--tertiary);
  }
}

.btn-link {
  color: var(--dark-gray-2);
  text-decoration: underline;
}

/* icones navegação */
.nav-link {
  color: var(--dark-gray-3);
  font-weight: bold;
}

.nav-link.active {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

footer{
  background-color: var(--dark-gray);
  color: var(--white);
}
